:root {
  --primary-color: #6c59e0;
  --dark-text-color: #aebad0;
  --white-color: #ffffff;
  --light-primary-color: #f5f6f8;
  --light-secondary-color: #afb3c1;
  --light-card-color: #f3f3f3;
  --light-text-color: #62758b;
  --dark-primary-color: #131722;
  --dark-secondary-color: #151b2c;
  --dark-card-color: #1d263a;
  --dark-text-color: #9eadbf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#root {
  display: grid;
  place-content: center;
  background-color: var(--light-primary-color);
  min-height: 100vh;
}

/* Global Styles */

.share-input{
  outline: none;
  border: 1px solid #9eadbf;
  background-color: transparent;
  color: #6c59e0;
  border-radius: 5px;
  padding: 5px;
}

.iStalkU-link {
  font-size: 19px;
  padding: 5px 0;
}

.share-link {
  text-decoration: none;
  color: var(--primary-color);
}

.code-name a{
  text-decoration: none;
  color: unset;
}

.code-name a:hover{
  text-decoration: underline;
  color: #6c59e0;
}

.container-card h3 {
  font-size: 25px;
  color: var(--primary-color);
}

.container-card .color-theme {
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  color: var(--primary-color);
}

.container-footer {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}

.container-footer p a {
  text-decoration: none;
  color: #6c59e0;
}

.container-footer p a:hover{
  text-decoration: underline;
}

/* Ligt Container Styles */

.light-container {
  width: 800px;
  background-color: var(--white-color);
  border-radius: 5px;
  padding: 30px;
}

.light-container .container-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.light-container .container-header {
  padding: 10px 0;
  border-bottom: 1px solid var(--light-secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.light-container .container-left .iStalkU-details {
  display: flex;
  flex-direction: column;
}

.light-container .iStalkU-details .iStalkU-id {
  font-size: 13px;
}

.light-container .container-right {
  text-align: right;
}

.light-container .container-right h2 {
  color: var(--dark-secondary-color);
}

.light-container .container-right .date-created {
  font-size: 13px;
}

.light-container .container-body {
  padding-top: 25px;
}

.light-container .container-body .container-message {
  background-color: var(--light-card-color);
  padding: 10px 25px;
  border-radius: 5px;
  color: var(--light-text-color);
}

.light-container .container-message .text-message {
  padding: 10px 0;
  border-bottom: 1px solid #c2c2c2;
}

.light-container .container-message .message-tools {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.light-container .container-message .message-tools .text-date-time {
  font-size: 12px;
}

.light-container .message-tools .tools a {
  text-decoration: none;
  color: #e93535;
  font-size: 13px;
}

.light-container .message-tools .tools a:hover {
  text-decoration: underline;
}

.dark-mode {
  display: none;
}

/*Dark Mode Container*/

.dark-container {
  width: 800px;
  background-color: var(--dark-secondary-color);
  border-radius: 5px;
  padding: 30px;
}

.dark-container .container-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-container .container-header {
  padding: 10px 0;
  border-bottom: 1px solid var(--light-secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-container .container-left .iStalkU-details {
  display: flex;
  flex-direction: column;
  color: var(--light-primary-color);
}

.dark-container .iStalkU-details .iStalkU-id {
  font-size: 13px;
}

.dark-container .container-right {
  text-align: right;
}

.dark-container .container-right h2 {
  color: var(--white-color);
}

.dark-container .container-right .date-created {
  font-size: 13px;
  color: #b3b3b3;
}

.dark-container .container-body {
  padding-top: 25px;
}

.dark-container .container-body .container-message {
  background-color: var(--dark-card-color);
  padding: 10px 25px;
  border-radius: 5px;
  color: var(--dark-text-color);
}

.dark-container .container-message .text-message {
  padding: 10px 0;
  border-bottom: 1px solid #c2c2c2;
}

.dark-container .container-message .message-tools {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.dark-container .container-message .message-tools .text-date-time {
  font-size: 12px;
}

.dark-container .message-tools .tools a {
  text-decoration: none;
  color: #e93535;
  font-size: 13px;
}

.dark-container .message-tools .tools a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  #root {
    background-color: transparent;
  }

  .light-container,
  .dark-container {
    width: 100%;
    background-color: transparent;
  }

  .light-container .container-header,
  .dark-container .container-header {
    flex-direction: column-reverse;
    align-items: unset;
  }

  .light-container .container-right,
  .dark-container .container-right {
    text-align: left;
    margin-bottom: 10px;
  }
}